<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>NodeJS</h1>
    <h1 id="data"></h1>
    <script src="index.js" type="module"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        axios({
            method: 'get',
            url: 'http://localhost:3307/getfood',
        })
            .then((result) =>
                result.data.map(item => {
                    document.querySelector('#data').innerHTML += item.food_id + "<br/>"
                }

                )
            )
            .catch(error => console.log(error))

            axios.get('/user', {
    params: {
      ID: 3
    }
  })
  .then((result) =>
                result.data.map(item => {
                    document.querySelector('#data').innerHTML += item.user + "<br/>"
                }

                ))
  .catch(function (error) {
    console.log(error);
  })
  .finally(function () {
    // always executed
  }); 




    </script>
</body>

</html>